# =======================================================
# BACKEND (RENDER) ENVIRONMENT VARIABLES
# =======================================================
MONGODB_URI=
JWT_SECRET=
CLIENT_ORIGIN=
GEMINI_API_KEY=

# =======================================================
# FRONTEND (VERCEL) ENVIRONMENT VARIABLES (ONLY THIS 1 KEY IS NEEDED!)
# =======================================================
VITE_API_URL=
